@use "../utils/functions" as *;
@use "../utils/mixins" as *;
@use "../utils/breakpoints" as *;

html {
  font-size: 100%;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeSpeed;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  max-width: 1440px;
  padding: 0 2rem;
  margin: 0 auto;
  
  font-family: var(--font-primary);
  background-color: var(--blue-1100);

  @include breakpoint-down(lg) {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  @include breakpoint-down(sm) {
    padding: 0 2rem 3rem;
  }
}

img {
  max-width: 100%;
  height: auto;
}