h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a,
a:visited,
a:active {
    text-decoration: none;
}

p {
    margin: 0;
}

.text {
    &--bold {
        font-weight: 600;
    }

    &--italic {
        font-style: italic;
    }

    &--white {
        color: white;
    }

    &--yellow {
        color: var(--yellow-500);
    }

    &--blue {
        color: var(--blue-200);
    }

    &--blue-light {
        color: var(--blue-100);
    }

    &--subtle {
        color: color-mix(in srgb, var(--blue-100) 30%, transparent);
    }
}