:root {
  --blue-900: #002547;
  --blue-800: #073464;
  --blue-700: #124982;
  --blue-600: #2d6095;
  --blue-500: #487cb1;
  --blue-400: #6698cc;
  --blue-300: #9dbee1;
  --blue-200: #c6d6e6;
  --blue-100: #dce3e9;

  --yellow-900: #663d00;
  --yellow-800: #995c00;
  --yellow-700: #c97a03;
  --yellow-600: #ee9611;
  --yellow-500: #e8a94a;
  --yellow-400: #eebf77;
  --yellow-300: #ffd494;
  --yellow-200: #ffe8c7;
  --yellow-100: #fff2e0;
}
