@use "../utils/functions" as *;
@use "../utils/mixins" as *;
@use "../utils/breakpoints" as *;

/**-------------------**
| SECTION STYLING
**--------------------**/

.section {
  &__heading {
    color: #fff;
    text-align: center;
    letter-spacing: rem(5);
    text-transform: uppercase;
    font-size: rem(18);
    font-weight: 100;
    margin-bottom: rem(40);
  }
}

/**-------------------**
| HOMEPAGE PROJECT CARD STYLING
**--------------------**/

.project__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: rem(40);
  max-width: 52ch;
  padding: rem(60) rem(30) rem(30);
  color: var(--blue-100);
  border-radius: rem(32);
  border: 1px solid var(--blue-900);
  background-color: var(--blue-1000);
  box-shadow: 0px 0px 56px -3px rgba(0,55,105,.33);

  &__header {
    align-items: center;
    display: flex;
    position: absolute;
    gap: rem(16);
    top: rem(-45);
    left: 50%;
    width: fit-content;
    height: 45px;
    padding: 0 rem(24);
    transform: translateX(-50%);
    background-color: var(--blue-900);
    border-top: 1px solid var(--blue-800);
    border-radius: rem(24) rem(24) 0 0;
  }

  .header__logo {
    display: grid;
    place-items: center;
    min-height: 80px;
    min-width: 80px;
    background-color: var(--blue-900);
    border: 1px solid var(--blue-300);
    border-radius: 100%;
  }

  .header__tag {
    color: var(--blue-100);
    font-size: rem(14);
    font-weight: 400;
    letter-spacing: rem(0.3);
    white-space: nowrap;
  }

  &__name {
    display: inline-flex;
    margin-right: rem(5);
    margin-bottom: rem(15);
    font-size: rem(24);
  }

  &__date {
    display: inline-flex;
    position: relative;
    bottom: 3px;
    font-size: rem(12);
    border: 1px solid;
    color: var(--yellow-400);
    padding: rem(3) rem(10);
    margin-bottom: rem(8);
    border-radius: 100vh;
  }

  &__body {
    color: var(--blue-200);
    font-weight: 300;
    letter-spacing: rem(0.3);
    text-wrap: pretty;
    line-height: 1.35;
  }

  &__roles {
    display: flex;
    flex-direction: column;
    gap: rem(20);
  }

  &__skills {
    display: flex;
    flex-direction: column;
    gap: rem(20);
  }

  .tag__list {
    display: flex;
    flex-wrap: wrap;
    gap: rem(5);
  }

  .tag {
    border-radius: 100vh;
    font-size: rem(11);
    font-weight: 300;
    letter-spacing: rem(0.6);
    color: var(--blue-300);
    cursor: default;
  }

  .tag__role {
    background-color: var(--blue-800);
    padding: rem(3) rem(12);

    &:hover {
      background-color: var(--blue-700);
    }
  }

  .tag__skill {
    background-color: transparent;
    padding: rem(6) rem(12) rem(6) rem(32);
    border: 1px solid var(--blue-700);

    &:hover {
      background-color: var(--blue-800);
    }
  }

  &__links-container {
    display: flex;
    flex-direction: column;
    gap: rem(16);
  }

  &__links {
    display: flex;
    justify-content: space-between;
    gap: rem(16);
  }

  &__links .button {
    width: 100%;
  }
}

/* the first project needs spacing to not hide the heading */

[data-project="vervendo"] {
  margin-top: rem(48);
}

/**-------------------**
| SINGLE COMPANY PAGE
**--------------------**/

.roles {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: rem(40);
  max-width: 52ch;
  padding: rem(30);
  margin: rem(60) rem(30) 0;
  border-radius: rem(15);
  background-color: var(--blue-800);
  box-shadow: 0px 12px 24px rgba(0, 19, 36, 0.25);

  &__body {
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.3;
  }

  &__primary {
    background-color: #fff;
    color: var(--blue-800);
    margin: rem(-30) rem(-30) 0;
    padding: rem(30);
    border-radius: rem(10);
  }

  &__primary &__body {
    color: var(--blue-600);
    font-weight: 300;
  }

  &__secondary {
    color: var(--blue-100);
  }

  &__secondary &__body {
    color: var(--blue-300);
  }
}

.card {
  position: relative;
  max-width: 52ch;
  padding: rem(30);
  margin: rem(60) rem(30) 0;
  border-radius: rem(15);
  color: var(--blue-700);
  background-color: var(--blue-100);
  box-shadow: 0px 12px 24px rgba(0, 19, 36, 0.25);
  
  &__font-svg {
    width: rem(80);
  }

  &__body {
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.3;
  }
}

.grid {
  display: inline-grid;

  &__color-usage {
    grid-template-columns: 5fr 3fr 1fr 0.7fr 0.3fr;
  }

  &__color-value {
    grid-template-columns: 1fr 4fr 4fr;
  }

  &__line {
    width: rem(5);
  }

  &__hex {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
  }
}
