@use "../utils/functions" as *;
@use "../utils/mixins" as *;
@use "../utils/breakpoints" as *;

.navbar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: rem(16);
  z-index: 99999;
  padding: rem(16) rem(16);
  border-radius: 100vh;
  border: rem(1) solid color-mix(in srgb, var(--blue-100) 5%, transparent);
  background-color: color-mix(in srgb, var(--blue-100) 5%, transparent);
  backdrop-filter: blur(rem(16));

  @include breakpoint-down(xsm) {
    padding: rem(15) rem(15);
  }

  &__logo {
    max-width: 200px;

    @include breakpoint-down(sm) {
      max-width: 150px;
    }

    @include breakpoint-down(xxsm) {
      display: none;
    }
  }

  &__logo--mobile {
    display: none;

    @include breakpoint-down(xxsm) {
      display: block;
    }
  }
}