@use "../utils/functions" as *;
@use "../utils/mixins" as *;
@use "../utils/breakpoints" as *;

.navbar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  max-width: rem(1200);
  height: rem(120);
  padding: rem(46) rem(32);
  z-index: 99999;
  background-color: transparent;
  margin: 0 auto;

  @include breakpoint-down(xsm) {
    padding: rem(15) rem(15);
  }

  &__logo-container {
    display: inline-flex;
  }

  &__logo {
    @include breakpoint-down(sm) {
      max-width: 150px;
    }

    @include breakpoint-down(xxsm) {
      display: none;
    }
  }

  &__logo--mobile {
    display: none;

    @include breakpoint-down(xxsm) {
      display: block;
    }
  }
}