@use "../utils/functions" as *;
@use "../utils/mixins" as *;
@use "../utils/breakpoints" as *;

.navbar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 1rem;
  z-index: 99999;
  padding: 1rem 1rem;
  border-radius: 100vh;
  border: 0.0625rem solid color-mix(in srgb, var(--blue-100) 5%, transparent);
  background-color: color-mix(in srgb, var(--blue-100) 5%, transparent);
  backdrop-filter: blur(1rem);

  @include breakpoint-down(xsm) {
    padding: 0.9375rem 0.9375rem;
  }

  &__logo {
    max-width: 200px;

    @include breakpoint-down(sm) {
      max-width: 150px;
    }

    @include breakpoint-down(xxsm) {
      display: none;
    }
  }

  &__logo--mobile {
    display: none;

    @include breakpoint-down(xxsm) {
      display: block;
    }
  }
}