@use "../utils" as *;


.palette {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__swatches {
        display: flex;
        justify-content: center;
        gap: 1rem;

        &-item {
            border-radius: 50%;
            position: relative;
            width: 8rem;
            height: 8rem;

            &:not(:last-child) {
                margin-right: -4rem;
            }

            &--stroke {
                border: 1px solid var(--blue-300);
            }

            &.palette--vervendo-pink::after,
            &.palette--vervendo-yellow::after,
            &.palette--vervendo-gold::after,
            &.palette--vgl-orange::after,
            &.palette--digital-shovel-blue-gray::after {
                content: "new";
                position: absolute;
                right: -1rem;
                top: 50%;
                transform: translateY(-50%);
                border: .2rem solid var(--blue-100);
                background-color: #fff;
                color: var(--blue-800);
                font-size: 1rem;
                font-weight: 600;
                border-radius: 100vh;
                padding: 0.3rem 0.7rem;
            }
        }
    }

    &__summary {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        text-wrap: pretty;
        padding: 2rem;
        border-radius: 2rem;
        color: var(--blue-700);
        background-color: var(--blue-100);

        &-description {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        &-swatches {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            @include breakpoint-down(sm) {
                gap: 0.5rem;
            }
        }

        &-distribution {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        &-values {
            display: flex;
            gap: 1rem;

            @include breakpoint-down(sm) {
                flex-direction: column;
            }
        }
    }

    &__description {
        font-size: clamp(.9rem, 2.5vw, 1rem);
    }

    &__distribution {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &-heading {
            display: flex;
            gap: 0.5rem;
        }

        &-bars {
            display: grid;
            height: 10px;

            &--vervendo {
                grid-template-columns: 4fr 3fr 2fr 1fr 1fr;
            }

            &--vgl {
                grid-template-columns: 4fr 3fr 2fr 1fr;
            }

            &--equal-play {
                grid-template-columns: 4fr 3fr 2fr 1fr 1fr 1fr;
            }

            &--digital-shovel {
                grid-template-columns: 7fr 5fr 1fr;
            }
        }
    }

    &__values {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        color: var(--blue-100);

        &-grid {
            display: flex;
            flex-direction: column;
            gap: 0.25rem;
        }

        &-body {
            font-size: clamp(.9rem, 2.5vw, 1rem);
        }

        &-line {
            width: 8px;
        }

        &-codes {
            display: grid;
            grid-template-columns: 48px 1fr;
        }

        &-heading {
            color: var(--blue-500);
            font-weight: 300;
            letter-spacing: 0.5px;
        }
    }

    &__site-mockup {
        img {
            width: 100%;
        }
    }

    &--vervendo-white {
        background-color: #ffffff;
        z-index: 5;
    }

    &--vervendo-blue {
        background-color: #2c6da9;
        z-index: 4;
    }

    &--vervendo-pink {
        background-color: #ff577f;
        z-index: 3;
    }

    &--vervendo-yellow {
        background-color: #ffca41;
        z-index: 2;
    }

    &--vervendo-gold {
        background-color: #c98f1d;
        z-index: 1;
    }

    &--vgl-white {
        background-color: #ffffff;
        z-index: 4;
    }

    &--vgl-yellow {
        background-color: #FAD32B;
        z-index: 3;
    }

    &--vgl-dark-gray {
        background-color: #2A2A2A;
        z-index: 2;
    }

    &--vgl-orange {
        background-color: #F15A24;
        z-index: 1;
    }

    &--equal-play-dark-purple {
        background-color: #5D0798;
        z-index: 6;
    }

    &--equal-play-light-purple {
        background-color: #A641E9;
        z-index: 5;
    }

    &--equal-play-dark-red {
        background-color: #C34949;
        z-index: 4;
    }

    &--equal-play-light-red {
        background-color: #FF5949;
        z-index: 3;
    }

    &--equal-play-yellow {
        background-color: #FFCA41;
        z-index: 2;
    }

    &--equal-play-gray {
        background-color: #D5DBF1;
        z-index: 1;
    }

    &--digital-shovel-white {
        background-color: #ffffff;
        z-index: 3;
    }

    &--digital-shovel-blue {
        background-color: #1e75df;
        z-index: 2;
    }

    &--digital-shovel-blue-gray {
        background-color: #627d98;
        z-index: 1;
    }
}