@use "../utils" as *;

.palette {
  &__color {
    border-radius: 50%;
    position: relative;
  }

  &__line {
    height: 10px;
  }

  &--small {
    width: 2rem;
    height: 2rem;
  }

  &--big {
    width: 4.75rem;
    height: 4.75rem;
    box-shadow: 0px 12px 24px rgba(0, 19, 36, 0.25);
  }

  &--big:not(:last-child) {
    margin-right: -1.25rem;
  }

  &--vervendo-white {
    background-color: #ffffff;
    z-index: 5;
  }

  &--vervendo-blue {
    background-color: #2c6da9;
    z-index: 4;
  }

  &--vervendo-pink {
    background-color: #ff577f;
    z-index: 3;
  }

  &--vervendo-yellow {
    background-color: #ffca41;
    z-index: 2;
  }

  &--vervendo-gold {
    background-color: #c98f1d;
    z-index: 1;
  }

  &--small + &--vervendo-pink::after,
  &--small + &--vervendo-yellow::after,
  &--small + &--vervendo-gold::after {
    content: "new";
    position: absolute;
    right: -0.875rem;
    top: 0.375rem;
    border: 0.1875rem solid var(--blue-100);
    background-color: #fff;
    color: var(--blue-800);
    font-size: 0.5625rem;
    font-weight: 600;
    border-radius: 100vh;
    padding: 0.0625rem 0.25rem;
  }
}

.color-value {
  color: #fff;
  padding: 1.875rem;
  max-width: 52ch;

  &__line {
    width: 0.625rem;
  }

  &__hex {
    font-size: 0.875rem;
  }

  &__heading {
    font-size: 0.6875rem;
    color: var(--blue-400);
  }

  &__body {
    font-size: 0.6875rem;
    font-weight: 200;
    color: var(--blue-200);
    letter-spacing: 0.01875rem;
    line-height: 1.3;
  }
}
